server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pleasenote
    username: pleasenote
    password: pleasenote
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
